#main
{
width: 1000px;
margin: auto;
left: 200px;
   position: float;
}
#social {	
	height: auto;
	width: auto;
	text-align: center;
	margin:0 auto;
	}
.mgn20 {	
margin-top: 30%;
}
.show_hide {
    display:none;
}
img.splash { 
  margin-top: 20%;
	}
	

IMG.socialma {
opacity:0.2;
filter:alpha(opacity=20);

	}
IMG.socialm {
display:inline;
	}
h1 {
font-family: Arial, arial, sans-serif;
font-size:18px;
color:#004385;
}

h2 {
font-family: Arial, arial, sans-serif;
font-size:14px;
color:#fff;
}


.slidingDiv{
	bottom:0px;
    height:310px;
	width: 1000px;
    background-color: #004d9a;

    margin:0px 0px 10px 0px;
	/* //Browsers! */
	-webkit-box-shadow:inset 0 0 10px #000000;
	box-shadow:inset 0 0 10px #000000; 
	-moz-box-shadow:inset 0 0 10px #000000;
}
 


*, p {
  font-size: 14px;
  font-family: Arial, arial, sans-serif;
}

label {font-size: 11px;}



div.form-wrapper-left {
width: 480px;
position: relative;
float: left;
margin: 20px  0 0 20px;
}
div.form-wrapper-right {
width: 480px;
position: relative;
float: right;
margin: 20px  10px 0  0px;
}

.disp {display:none;}

input[type=text], textarea {
  width: 468px;
  min-height: 50px;
  border: 0;
  background: #f0f0f0;
  outline: 1px solid #c8c8c8;
  padding-left: 12px;
  margin: 0;
}


input[type=text]:focus, textarea:focus {
  border: 0;
}
#recaptcha_widget {
  margin: 5px 0 0 0;
  background-color: rgb(240,240,240);
  }

#recaptcha_response_field{
width:140px;
float: right;
}
#recaptcha_image {
position: relative;
float: left;
}
#recaptcha_only_if_incorrect_sol{
background-color: #fff;
color: red;
}
textarea {
  width: 456px;
  height: 250px;
  padding-left: 2px; 
  resize: none;
}

select {
  -moz-appearance:normal;
  -webkit-appearance:button;
  width: 480px;
  height: 50px;
  border: 0;
  outline: 1px solid #c8c8c8;
  background: #f0f0f0;
  cursor: pointer;
  cursor: hand;
  color: #999999;
  border-radius: 0;
  padding-left: 12px;
}
option {
  width: 460px;
  min-height: 20px;
  border: 0;
  background: #f0f0f0;
  outline: 1px solid #c8c8c8;
  padding-left: 12px;
  }

input[type=submit] {
  -moz-appearance:button;
  -webkit-appearance:button;
  width: 480px;
  height: 40px;
  border: 1px solid #FFAD33;
  background: #ED8D00;
  cursor: pointer;
  cursor: hand;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0 5px 0;
}

input[type=submit]:hover {
  background: #FF9A06;
  border: 1px solid #FFAD33;
  border-radius: 5px;
  
}




::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

@-moz-document url-prefix() {
  select {
    padding: 16px 0 0 0;
    text-indent: 15px;
    outline: 0;
    margin-left: -20px;
    width: 500px;
    background-position: 21px 301px !important;
  }
  
  .ff-only {
    outline: 1px solid #c8c8c8;
    overflow: hidden;
    width: 480px;
  }
  p {margin:0;}
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
  input[type="text"] {
    width: 270px;
  }
  select, input[type="submit"] {
    width: 289px !important;
  }

  textarea {width: 265px;}

  input#email_name {background-position: -190px 153px;}
  input#email_email {background-position: -190px 353px;}
  select#fm_subject {background-position: -190px 301px;
}
}
div.faq p {line-height: 25px;}